{{ define "main" }}
<article lang="en">
  <header>
    <h1><a href="{{ .Permalink }}">{{ .Site.Title }}</a></h1>

    {{ if .Params.image }}
    <img src="{{ .Params.image | relURL }}" />
    {{ end }}

    {{ if .Description }}
    <small>{{ .Description | safeHTML }}</small>
    {{ end }}

  </header>
  <div id="content">
    <ul>
      {{ range where $.Site.RegularPages "Params.disable_listing" "!=" true }}
      <li>
	<a href="{{.Permalink}}">{{ .Title | title }}</a> <small>&mdash; {{.Date.Format "2006-01-02"}}</small>
      </li>
      {{ end }}
    </ul>
  </div>
</article>
{{ end }}
