{{ define "main" }}
<article lang="en">
  <header>
    <h1><a href="https://mxs.sbrk.org/home.html">mxs.sbrk.org</a></h1>

    <img src="img/headers/effb2b50-52ca-4c1c-9e15-4ce2202a3e56.jpg" />
    
    <small>a.k.a Sébastien Rannou</small>
  </header>
  <div id="content">
    <ul>
      {{ range $.Site.RegularPages }}
      {{ if eq .FirstSection.Section .Section }}
      {{ if not .Params.disable_listing }}
      <li>
	<a href="{{.Permalink}}">{{ .Title | title }}</a> <small>&mdash; {{.Date.Format "2006-01-02"}}</small>
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
  </div>
</article>
{{ end }}
