{{ define "main" }}
<article lang="en">
  <header>
    <h1>{{ .Title | title }}</h1>

    {{ if .Params.image }}
    <img src="{{ .Params.image }}" />
    {{ end }}

    {{ if .Description }}
    <small>{{ .Description | safeHTML }}</small>
    {{ end }}
  </header>
  <div id="content">
    <ul>
    {{ range .Pages }}
    {{ if not .Params.disable_listing }}
    <li>
      <a href="{{.Permalink}}">{{ .Title | title }}</a> <small>&mdash; {{.Date.Format "2006-01-02"}}</small>
    </li>
    {{ end }}
    {{ end }}
    </ul>
  </div>
</article>
{{ end }}
