{{ define "main" }}
<article lang="en">
  <header>
    <h1>{{ .Title | title }}</h1>

    {{ if .Params.image }}
    <img src="{{ .Params.image }}" />
    {{ end }}

    {{ if .Params.audio }}
    {{ partial "audio.html" . }}
    {{ end }}

    {{ if .Description }}
    <small>{{ .Description | safeHTML }}</small>
    {{ end }}

  </header>
  <div id="content">
    {{ .Content }}

    {{ if .Params.append_list_from }}
    {{ $append_list_from := .Params.append_list_from }}
    <ul>
      {{ range $.Site.Pages.Reverse }}
      {{ if in .Params.categories $append_list_from }}
      <li><a href="{{ .RelPermalink }}">{{ .Title | title }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}

  </div>
</article>
{{ end }}
